body{
  background-image: url("bg.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 105vh;
    color: white;

}

.logoimg{
  width: 200px;
}

.container {
  width: 1000px;
text-align: center;
  margin: auto;

.colorgreen {
  color: green;
}


.colorbackground {
background-color: green;
height: 20px;
border: 10px solid green;

}

.maintext {
text-align: left;
color:

}

h1 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}


.battery-charge1 {
  border: 10px solid yellow;
  background-color: yellow;
  height: 10px;
  width: 25%;
  border-radius: 5px;

}
.battery-charge2 {
  border: 10px solid green;
  background-color: green;
  height: 10px;
  width: 65%;
  border-radius: 5px;

}

.battery-charge3 {
    border: 10px solid red;
    background-color: red;
    height: 10px;
    width: 15%;
    border-radius: 5px;

}
